@import '../../sass/constants.scss';

.tab__container {
  margin: $margin-small, 0rem;
  background-color: $color-aqua-blue;
  padding: $padding-normal;
  min-height: 95vh;
  &--header {
    display: flex;
    flex-direction: row;
    margin-bottom: $margin-small;
    &-link, &-link-active {
      padding: $margin-small;
      margin-right: .25rem;
      cursor: pointer;
      background-color: $color-white;
      border-radius: $border-radius;
      border: $color-border-blue;
      &-active {
        background-color: $color-red;
        box-shadow: $tab-shadow;
      }
    }
  }
}
