@import '../../sass/constants.scss';

.tab__body {
  background-color: $color-white;
  padding: $padding-normal;
  border: $color-border-blue;
  border-radius: $border-radius;
  box-shadow: $tab-shadow;
}